<center><video width="600" height="450" controls="controls">
src="{{ site.baseurl | append: '/video/' | append: include.video | append: '.mp4' | replace: '//', '/' }}"
src="{{ site.baseurl | append: '/video/' | append: include.video | append: '.ogv' | replace: '//', '/' }}"

{% include screenshot.html image=include.screenshot %}

<p><b>Votre navigateur Web ne prend pas en charge les vidéos HTML5 ou au format 0gg Theora.</b></p>

<p><b>Essayez Firefox, Konqueror ou Opera.</b></p>

<p><a href="{{ site.baseurl | append: '/video/' | append: include.video | append: '.ogv' | replace: '//', '/' }}">Télécharger la vidéo pour un visionnage local ({{ include.size }})</a></p>
</video></center>
